# Import

In [1]:
from imports import *
import acquire as acq
import prepare as prep

pd.set_option("display.max_columns", None)

# Data Acquisition Code

## Clipboard

In [ ]:
# df_clipboard=pd.read_clipboard()

## Excel

In [ ]:
# df_excel=pd.read_excel('file_name.xls')

## *.csv

In [ ]:
# df_csv=pd.read_csv('file_name.csv')

## SQL

In [ ]:
# read_sql(sql_query, connection_url)

# Server Side Data Acquisition

## Google Sheet

In [ ]:
sheet_id='1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g'
sheet_name='first_sheet_by_default'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_googlesheet = pd.read_csv(google_sheet_url)
df_googlesheet.head()

In [ ]:
# for native google urls
# csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

## AWS S3

In [ ]:
df_s3 = pd.read_csv('https://s3.amazonaws.com/irs-form-990/index_2011.csv')
df_s3.head()

## SQL

In [ ]:
df = pd.read_sql('SELECT * FROM passengers',get_db_url('titanic_db'))
df.head()

# Data Caching Data In A Cache

In [ ]:
df.to_csv('titanic.csv')

## Data Caching Workflow:

In [ ]:
import os

def get_number_data():
    filename = 'numbers.csv'
    
    if os.path.exists(filename):
        print('Reading from csv file...')
        return pd.read_csv(filename)
    
    database = 'numbers'
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{database}'
    query = '''
    SELECT
        n AS original_number,
        n * 2 AS doubled
    FROM numbers
    WHERE n > 3
    '''

    print('Getting a fresh copy from SQL database...')
    df = pd.read_sql(query, url)
    print('Saving to csv...')
    df.to_csv(filename, index=False)
    return df

# Exercises

## 4

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
df_iris=data('iris')

print the first 3 rows

In [ ]:
df_iris.head(3)

print the number of rows and columns (shape)

In [ ]:
df_iris.shape

print the column names

In [ ]:
df_iris.columns

print the data type of each column

In [ ]:
df_iris.info()

print the summary statistics for each of the numeric variables

In [ ]:
df_iris.describe()

## 5

Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [ ]:
sheet_id='1ClzcgfbGk0z0zdBFp1bdKYgomtvDNHMEax4ZVZVY7zc'
sheet_name='Table1_CustDetails'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_google_sheets = pd.read_csv(google_sheet_url)
df_google_sheets = df_google_sheets.drop('Unnamed: 13', axis=1)
df_google_sheets.head()

assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [ ]:
df_google_sheets_sample=df_google_sheets.head(100)
df_google_sheets_sample.shape

print the number of rows of your original dataframe

In [ ]:
df_google_sheets.shape

print the first 5 column names

In [ ]:
x=df_google_sheets_sample.columns.to_list()
x[:5]

print the column names that have a data type of object

In [ ]:
list(df_google_sheets.select_dtypes('object'))

compute the range for each of the numeric variables

In [ ]:
y = df_google_sheets.select_dtypes('number')
y.max()-y.min()

In [ ]:
y.head()

## 6

Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [ ]:
df_excel=pd.read_excel('forest_hensley_innis_spreadsheet_exercises.xlsx')

assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [ ]:
df_excel_sample=df_excel.head(100)
df_excel_sample.shape

print the number of rows of your original dataframe

In [ ]:
df_excel.shape

print the first 5 column names

In [ ]:
x=df_excel.columns.to_list()
x[:5]

print the column names that have a data type of object

In [ ]:
list(df_excel.select_dtypes('object'))

compute the range for each of the numeric variables

In [ ]:
y = df_excel.select_dtypes('number')
y.max()-y.min()

In [ ]:
y.head()

## 7

Read the data from this google sheet into a dataframe, df_google.

In [ ]:
sheet_id='1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g'
sheet_name='train'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_google = pd.read_csv(google_sheet_url)
df_google.shape

print the first 3 rows

In [ ]:
df_google.head(3)

print the number of rows and columns

In [ ]:
df_google.shape

print the column names

In [ ]:
df_google.columns.tolist()

print the data type of each column

In [ ]:
df_google.dtypes

print the summary statistics for each of the numeric variables

In [ ]:
df_google.select_dtypes('number').describe()

print the unique values for each of your categorical variables

In [ ]:
df_google.select_dtypes('object').apply(lambda col: col.unique().tolist())

# Munging

## df.drop_duplicates

In [ ]:
# df.drop_duplicates()

## pd.get_dummies

In [ ]:
# dummy_df = pd.get_dummies(df[['cat_col_1','cat_col_2']], dummy_na=False, drop_first=[True, True])

# Train, Validate, Test Split

## sk.train_test_split

In [ ]:
# train, test = train_test_split(df, test_size=.2, stratify=df.organize_data_by_this_column)
# train, validate = train_test_split(train, test_size=.3, random_state=123, stratify=train.survived)

# Impute

## 1. Create the imputer object:

In [ ]:
# imputer = sk.SimpleImputer(missing_values = None, strategy='most_frequent')

# strategies: mean, median, most_frequent

## 2. Fit to train:

In [ ]:
# imputer = sk.imputer.fit(train[['column_to_fit']])

## 3. Transform data:

In [ ]:
# train[['column_to_impute']] = sk.imputer.transform(train[['column_to_impute']])

# Exercises

## Iris

Use the function defined in acquire.py to load the iris data.

In [ ]:
iris=acq.get_iris_data()
iris.drop_duplicates()
iris.head()

In [ ]:
iris.isna().sum()

Drop the species_id and measurement_id columns.

In [ ]:
iris2=iris.drop(['species_id','measurement_id'],axis=1)
iris2.head()

Rename the species_name column to just species.

In [ ]:
iris3=iris2.rename({'species_name':'species'},axis=1)
iris3.head()

Create dummy variables of the species name and concatenate onto the iris dataframe.

In [ ]:
dummy_df = pd.get_dummies(iris3.species, dummy_na=False, drop_first=True)

In [ ]:
iris4 = pd.concat([iris3, dummy_df], axis=1)
iris4.head()

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [ ]:
def prep_iris(db):
	iris=acq.get_iris_data()
	iris2=iris.drop(['species_id','measurement_id'],axis=1)
	iris3=iris2.rename({'species_name':'species'},axis=1)
	dummy_df = pd.get_dummies(iris3.species, dummy_na=False, drop_first=True)
	iris4 = pd.concat([iris3, dummy_df], axis=1)
	return iris4

## Titanic

Use the function defined in acquire.py to load the Titanic data.

In [ ]:
titanic=acq.get_titanic_data()
titanic.drop_duplicates()
titanic.head()

In [ ]:
titanic.isna().sum()

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [ ]:
((titanic.sibsp==0)&(titanic.parch==0)&(titanic.alone==0)).sum()

In [ ]:
titanic2=titanic.drop(['passenger_id','pclass','deck','embark_town','alone'],axis=1)
titanic2.head()

Encode the categorical columns.

In [ ]:
dummy_df = pd.get_dummies(titanic2[['sex','embarked','class']], dummy_na=False, drop_first=[True,True,True])

In [ ]:
titanic3 = pd.concat([titanic2, dummy_df], axis=1)
titanic3.head()

In [ ]:
titanic3.info()

In [ ]:
titanic_test=prep.prep_titanic()
titanic_test.head()

## Telco

Use the function defined in acquire.py to load the Telco data.

In [ ]:
telco=acq.get_telco_data()
telco.head()

In [ ]:
telco.info()

Drop any unnecessary, unhelpful, or duplicated columns.

In [ ]:
telco.drop_duplicates(inplace=True)

In [ ]:
telco.total_charges.replace(to_replace=[' ',''],value=np.nan,inplace=True)

In [ ]:
(telco==' ').sum()

In [ ]:
telco['total_charges']=telco.total_charges.astype('float')

In [ ]:
telco.drop(['payment_type_id','contract_type_id','internet_service_type_id'],axis=1,inplace=True)

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:

dummy_list = [
	'gender',
	'partner',
	'dependents',
	'phone_service',
	'multiple_lines',
	'online_security',
	'online_backup',
	'device_protection',
	'tech_support',
	'streaming_tv',
	'streaming_movies',
	'paperless_billing',
	'churn',
	'internet_service_type',
	'contract_type',
	'payment_type'

	]

In [ ]:
list_of_trues=[True for i in dummy_list if 0<1]

In [ ]:
dummy_df = pd.get_dummies(telco[dummy_list], dummy_na=False, drop_first=True)

In [ ]:
dummy_df.info()

In [ ]:
dummy_df.head()

In [ ]:
telco=pd.concat([telco, dummy_df], axis=1)

In [ ]:
telco.info()

In [ ]:
telco.drop(dummy_list,axis=1)

# EDA - Exploratory Data Analysis

## Visual Testing

1. Univariate Stats: descriptive stats, frequencies, histograms. This is often done during prep prior to splitting into train/validate/test, but if it is not, then it should be done first here. Why? Outliers. Running tests that assume normalcy. Scale of each variable. General "getting to know" your data. - Univariate means a single variable, so we'll look at .value_counts() and histograms. - Explore the target variable itself. What is the distribution of values?
	- Explore the categorical and qualitative variables. - Explore the numeric variables.  
	<br>
1. Bivariate Stats. Bivariate means two variables.
	- Plot the interactions of each variable with the target. Document your takeaways.
		-  For numeric to numeric, use a scatterplot or lineplot
		- For numeric to categorical variables, see https://seaborn.pydata.org/tutorial/categorical.html
	- Explore interation of independent variables using viz and/or hypothesis testing to address interdependence.  
	<br>
1. Multivariate Stats (more than 2 variables): Ask additional questions of the data, such as how subgroups compare to each-other and to the overall population. Answer questions using visualizations and/or hypothesis testing.
	- If you're using seaborn's relplot or catplot, use the hue or col arguments to add extra dimension(s) to the visuals.
	- Using sns.pairplot with hue may be helpful. With too many columns, however, it can produce visuals that are too noisy to be useful.
	- See https://seaborn.pydata.org/tutorial/axis_grids.html for more multivariate options

## Statistical Testing

1. With numeric to numeric, test for correlation with Pearson's R for linear and Spearman's R for non-linear relationships.  
<br>

1. For numeric to categorical, compare the means of two populations or a subgroup to the population using a t-test, if your samples are normaly(ish) distributed but have different variances (as determined by calling .var() on each column/Series, ANOVA to compare means from more than 2 groups, or a Mann-Whitney u-test if the data does not match the assumptions of a t-test.  
<br>

1. With categorical to categorical variables, use χ<sup>2</sup>, chi-squared test.

1. For numeric to categorical, compare the means of two populations or a subgroup to the population using a t-test, if your samples are normaly(ish) distributed but have different variances (as determined by calling .var() on each column/Series, ANOVA to compare means from more than 2 groups, or a Mann-Whitney u-test if the data does not match the assumptions of a t-test.
1. With categorical to categorical variables, use χ<sup>2</sup>, chi-squared test.

## Standing Orders

1. __Document__ your initial questions or assumptions. Write them down (in your README or notebook) so they are concrete and not in your head.  
<br>

1. __Document__ your takeaways after each visualization. Even if your takeaway is, "there is nothing interesting between var1 and target".  
<br>

1. __Document__ your answer to each question.  
<br>

1. When you run statistical tests to answer your questions, __Document__ your null and alternative hypothesis, the test you run, the test results, and your conclusion.  
<br>

1. __Document__ your takeaways, in case that wasn't clear. It is a huge component of your final deliverable/analysis.  
<br>

1. __Document__ your action plan. What are your next steps and/or new questions based on what you have learned? I recommend documenting, continuing through all of your questions, and then going back and taking action only after you have answered your initial questions.  
<br>

# Exercises

## Iris

1- Acquire, prepare & split your data.

In [7]:
iris=prep.prep_iris()
iris.shape

prepping iris
Using cached csv

(150, 7)

In [10]:
iris_train,iris_validate,iris_test=prep.trestidate(iris,'species')

In [11]:
iris_train.shape,iris_validate.shape,iris_test.shape

((105, 7), (31, 7), (14, 7))

In [14]:
db=iris_train
db.head()

,sepal_length,sepal_width,petal_length,petal_width,species,versicolor,virginica
60,5.0,2.0,3.5,1.0,versicolor,1,0
16,5.4,3.9,1.3,0.4,setosa,0,0
88,5.6,3.0,4.1,1.3,versicolor,1,0
130,7.4,2.8,6.1,1.9,virginica,0,1
6,4.6,3.4,1.4,0.3,setosa,0,0

# Evaluation

- accuracy doesn't tell the whole story
- optimize for precision when you want to be sure about your positive predictions
- optimize for recall when you don't want to miss positive cases
- baseline model predicts the most common class (not necessarily the postive class)
- \+ / - are somewhat arbitrary, but generally a postive prediction means taking action