# Import

In [6]:
from imports import *
import acquire as acq

# Data Acquisition Code

## Clipboard

In [ ]:
# df_clipboard=pd.read_clipboard()

## Excel

In [ ]:
# df_excel=pd.read_excel('file_name.xls')

## *.csv

In [ ]:
# df_csv=pd.read_csv('file_name.csv')

## SQL

In [ ]:
# read_sql(sql_query, connection_url)

# Server Side Data Acquisition

## Google Sheet

In [ ]:
sheet_id='1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g'
sheet_name='first_sheet_by_default'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_googlesheet = pd.read_csv(google_sheet_url)
df_googlesheet.head()

In [ ]:
# for native google urls
# csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

## AWS S3

In [ ]:
df_s3 = pd.read_csv('https://s3.amazonaws.com/irs-form-990/index_2011.csv')
df_s3.head()

## SQL

In [ ]:
df = pd.read_sql('SELECT * FROM passengers',get_db_url('titanic_db'))
df.head()

# Data Caching Data In A Cache

In [ ]:
df.to_csv('titanic.csv')

## Data Caching Workflow:

In [ ]:
import os

def get_number_data():
    filename = 'numbers.csv'
    
    if os.path.exists(filename):
        print('Reading from csv file...')
        return pd.read_csv(filename)
    
    database = 'numbers'
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{database}'
    query = '''
    SELECT
        n AS original_number,
        n * 2 AS doubled
    FROM numbers
    WHERE n > 3
    '''

    print('Getting a fresh copy from SQL database...')
    df = pd.read_sql(query, url)
    print('Saving to csv...')
    df.to_csv(filename, index=False)
    return df

# Exercises

## 4

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
df_iris=data('iris')

print the first 3 rows

In [ ]:
df_iris.head(3)

print the number of rows and columns (shape)

In [ ]:
df_iris.shape

print the column names

In [ ]:
df_iris.columns

print the data type of each column

In [ ]:
df_iris.info()

print the summary statistics for each of the numeric variables

In [ ]:
df_iris.describe()

## 5

Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [ ]:
sheet_id='1ClzcgfbGk0z0zdBFp1bdKYgomtvDNHMEax4ZVZVY7zc'
sheet_name='Table1_CustDetails'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_google_sheets = pd.read_csv(google_sheet_url)
df_google_sheets = df_google_sheets.drop('Unnamed: 13', axis=1)
df_google_sheets.head()

assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [ ]:
df_google_sheets_sample=df_google_sheets.head(100)
df_google_sheets_sample.shape

print the number of rows of your original dataframe

In [ ]:
df_google_sheets.shape

print the first 5 column names

In [ ]:
x=df_google_sheets_sample.columns.to_list()
x[:5]

print the column names that have a data type of object

In [ ]:
list(df_google_sheets.select_dtypes('object'))

compute the range for each of the numeric variables

In [ ]:
y = df_google_sheets.select_dtypes('number')
y.max()-y.min()

In [ ]:
y.head()

## 6

Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [ ]:
df_excel=pd.read_excel('forest_hensley_innis_spreadsheet_exercises.xlsx')

assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [ ]:
df_excel_sample=df_excel.head(100)
df_excel_sample.shape

print the number of rows of your original dataframe

In [ ]:
df_excel.shape

print the first 5 column names

In [ ]:
x=df_excel.columns.to_list()
x[:5]

print the column names that have a data type of object

In [ ]:
list(df_excel.select_dtypes('object'))

compute the range for each of the numeric variables

In [ ]:
y = df_excel.select_dtypes('number')
y.max()-y.min()

In [ ]:
y.head()

## 7

Read the data from this google sheet into a dataframe, df_google.

In [ ]:
sheet_id='1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g'
sheet_name='train'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_google = pd.read_csv(google_sheet_url)
df_google.shape

print the first 3 rows

In [ ]:
df_google.head(3)

print the number of rows and columns

In [ ]:
df_google.shape

print the column names

In [ ]:
df_google.columns.tolist()

print the data type of each column

In [ ]:
df_google.dtypes

print the summary statistics for each of the numeric variables

In [ ]:
df_google.select_dtypes('number').describe()

print the unique values for each of your categorical variables

In [ ]:
df_google.select_dtypes('object').apply(lambda col: col.unique().tolist())

# Munging

## df.drop_duplicates

In [20]:
# df.drop_duplicates()

## pd.get_dummies

In [21]:
# dummy_df = pd.get_dummies(df[['cat_col_1','cat_col_2']], dummy_na=False, drop_first=[True, True])

# Train, Validate, Test Split

## sk.train_test_split

In [ ]:
# train, test = sk.train_test_split(df, test_size=.2, stratify=df.organize_data_by_this_column)

# Impute

## 1. Create the imputer object:

In [ ]:
# imputer = sk.SimpleImputer(missing_values = None, strategy='most_frequent')

# strategies: mean, median, most_frequent

## 2. Fit to train:

In [ ]:
# imputer = sk.imputer.fit(train[['column_to_fit']])

## 3. Transform data:

In [ ]:
# train[['column_to_impute']] = sk.imputer.transform(train[['column_to_impute']])

# Exercises

## Iris

Use the function defined in acquire.py to load the iris data.

In [13]:
iris=acq.get_iris_data()
iris.head()

Using cached csv

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [25]:
iris.isna().sum()

species_id        0
measurement_id    0
sepal_length      0
sepal_width       0
petal_length      0
petal_width       0
species_name      0
dtype: int64

Drop the species_id and measurement_id columns.

In [15]:
iris2=iris.drop(['species_id','measurement_id'],axis=1)
iris2.head()

   sepal_length  sepal_width  petal_length  petal_width species_name
0           5.1          3.5           1.4          0.2       setosa
1           4.9          3.0           1.4          0.2       setosa
2           4.7          3.2           1.3          0.2       setosa
3           4.6          3.1           1.5          0.2       setosa
4           5.0          3.6           1.4          0.2       setosa

Rename the species_name column to just species.

In [18]:
iris3=iris2.rename({'species_name':'species'},axis=1)
iris3.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Create dummy variables of the species name and concatenate onto the iris dataframe.

In [26]:
dummy_df = pd.get_dummies(iris3.species, dummy_na=False, drop_first=True)

In [28]:
iris4 = pd.concat([iris3, dummy_df], axis=1)
iris4.head()

,sepal_length,sepal_width,petal_length,petal_width,species,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [29]:
def prep_iris(db):
	iris=acq.get_iris_data()
	iris2=iris.drop(['species_id','measurement_id'],axis=1)
	iris3=iris2.rename({'species_name':'species'},axis=1)
	dummy_df = pd.get_dummies(iris3.species, dummy_na=False, drop_first=True)
	iris4 = pd.concat([iris3, dummy_df], axis=1)
	return iris4