# Import

In [3]:
from imports import *
import acquire as acq
import prepare as prep

pd.set_option("display.max_columns", None)

# Data Acquisition Code

## Clipboard

In [ ]:
# df_clipboard=pd.read_clipboard()

## Excel

In [ ]:
# df_excel=pd.read_excel('file_name.xls')

## *.csv

In [ ]:
# df_csv=pd.read_csv('file_name.csv')

## SQL

In [ ]:
# read_sql(sql_query, connection_url)

# Server Side Data Acquisition

## Google Sheet

In [ ]:
sheet_id='1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g'
sheet_name='first_sheet_by_default'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_googlesheet = pd.read_csv(google_sheet_url)
df_googlesheet.head()

In [ ]:
# for native google urls
# csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

## AWS S3

In [ ]:
df_s3 = pd.read_csv('https://s3.amazonaws.com/irs-form-990/index_2011.csv')
df_s3.head()

## SQL

In [ ]:
df = pd.read_sql('SELECT * FROM passengers',get_db_url('titanic_db'))
df.head()

# Data Caching Data In A Cache

In [ ]:
df.to_csv('titanic.csv')

## Data Caching Workflow:

In [ ]:
import os

def get_number_data():
    filename = 'numbers.csv'
    
    if os.path.exists(filename):
        print('Reading from csv file...')
        return pd.read_csv(filename)
    
    database = 'numbers'
    url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{database}'
    query = '''
    SELECT
        n AS original_number,
        n * 2 AS doubled
    FROM numbers
    WHERE n > 3
    '''

    print('Getting a fresh copy from SQL database...')
    df = pd.read_sql(query, url)
    print('Saving to csv...')
    df.to_csv(filename, index=False)
    return df

# Exercises

## 4

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
df_iris=data('iris')

print the first 3 rows

In [ ]:
df_iris.head(3)

print the number of rows and columns (shape)

In [ ]:
df_iris.shape

print the column names

In [ ]:
df_iris.columns

print the data type of each column

In [ ]:
df_iris.info()

print the summary statistics for each of the numeric variables

In [ ]:
df_iris.describe()

## 5

Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [ ]:
sheet_id='1ClzcgfbGk0z0zdBFp1bdKYgomtvDNHMEax4ZVZVY7zc'
sheet_name='Table1_CustDetails'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_google_sheets = pd.read_csv(google_sheet_url)
df_google_sheets = df_google_sheets.drop('Unnamed: 13', axis=1)
df_google_sheets.head()

assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [ ]:
df_google_sheets_sample=df_google_sheets.head(100)
df_google_sheets_sample.shape

print the number of rows of your original dataframe

In [ ]:
df_google_sheets.shape

print the first 5 column names

In [ ]:
x=df_google_sheets_sample.columns.to_list()
x[:5]

print the column names that have a data type of object

In [ ]:
list(df_google_sheets.select_dtypes('object'))

compute the range for each of the numeric variables

In [ ]:
y = df_google_sheets.select_dtypes('number')
y.max()-y.min()

In [ ]:
y.head()

## 6

Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [ ]:
df_excel=pd.read_excel('forest_hensley_innis_spreadsheet_exercises.xlsx')

assign the first 100 rows to a new dataframe, df_google_sheets_sample

In [ ]:
df_excel_sample=df_excel.head(100)
df_excel_sample.shape

print the number of rows of your original dataframe

In [ ]:
df_excel.shape

print the first 5 column names

In [ ]:
x=df_excel.columns.to_list()
x[:5]

print the column names that have a data type of object

In [ ]:
list(df_excel.select_dtypes('object'))

compute the range for each of the numeric variables

In [ ]:
y = df_excel.select_dtypes('number')
y.max()-y.min()

In [ ]:
y.head()

## 7

Read the data from this google sheet into a dataframe, df_google.

In [ ]:
sheet_id='1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g'
sheet_name='train'
google_sheet_url=f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
df_google = pd.read_csv(google_sheet_url)
df_google.shape

print the first 3 rows

In [ ]:
df_google.head(3)

print the number of rows and columns

In [ ]:
df_google.shape

print the column names

In [ ]:
df_google.columns.tolist()

print the data type of each column

In [ ]:
df_google.dtypes

print the summary statistics for each of the numeric variables

In [ ]:
df_google.select_dtypes('number').describe()

print the unique values for each of your categorical variables

In [ ]:
df_google.select_dtypes('object').apply(lambda col: col.unique().tolist())

# Munging

## df.drop_duplicates

In [20]:
# df.drop_duplicates()

## pd.get_dummies

In [21]:
# dummy_df = pd.get_dummies(df[['cat_col_1','cat_col_2']], dummy_na=False, drop_first=[True, True])

# Train, Validate, Test Split

## sk.train_test_split

In [ ]:
# train, test = sk.train_test_split(df, test_size=.2, stratify=df.organize_data_by_this_column)

# Impute

## 1. Create the imputer object:

In [ ]:
# imputer = sk.SimpleImputer(missing_values = None, strategy='most_frequent')

# strategies: mean, median, most_frequent

## 2. Fit to train:

In [ ]:
# imputer = sk.imputer.fit(train[['column_to_fit']])

## 3. Transform data:

In [ ]:
# train[['column_to_impute']] = sk.imputer.transform(train[['column_to_impute']])

# Exercises

## Iris

Use the function defined in acquire.py to load the iris data.

In [56]:
iris=acq.get_iris_data()
iris.drop_duplicates()
iris.head()

Using cached csv

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [25]:
iris.isna().sum()

species_id        0
measurement_id    0
sepal_length      0
sepal_width       0
petal_length      0
petal_width       0
species_name      0
dtype: int64

Drop the species_id and measurement_id columns.

In [15]:
iris2=iris.drop(['species_id','measurement_id'],axis=1)
iris2.head()

   sepal_length  sepal_width  petal_length  petal_width species_name
0           5.1          3.5           1.4          0.2       setosa
1           4.9          3.0           1.4          0.2       setosa
2           4.7          3.2           1.3          0.2       setosa
3           4.6          3.1           1.5          0.2       setosa
4           5.0          3.6           1.4          0.2       setosa

Rename the species_name column to just species.

In [18]:
iris3=iris2.rename({'species_name':'species'},axis=1)
iris3.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Create dummy variables of the species name and concatenate onto the iris dataframe.

In [26]:
dummy_df = pd.get_dummies(iris3.species, dummy_na=False, drop_first=True)

In [28]:
iris4 = pd.concat([iris3, dummy_df], axis=1)
iris4.head()

,sepal_length,sepal_width,petal_length,petal_width,species,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [29]:
def prep_iris(db):
	iris=acq.get_iris_data()
	iris2=iris.drop(['species_id','measurement_id'],axis=1)
	iris3=iris2.rename({'species_name':'species'},axis=1)
	dummy_df = pd.get_dummies(iris3.species, dummy_na=False, drop_first=True)
	iris4 = pd.concat([iris3, dummy_df], axis=1)
	return iris4

## Titanic

Use the function defined in acquire.py to load the Titanic data.

In [73]:
titanic=acq.get_titanic_data()
titanic.drop_duplicates()
titanic.head()

Using cached csv

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [74]:
titanic.isna().sum()

passenger_id      0
survived          0
pclass            0
sex               0
age             177
sibsp             0
parch             0
fare              0
embarked          2
class             0
deck            688
embark_town       2
alone             0
dtype: int64

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [75]:
((titanic.sibsp==0)&(titanic.parch==0)&(titanic.alone==0)).sum()

0

In [76]:
titanic2=titanic.drop(['passenger_id','pclass','deck','embark_town','alone'],axis=1)
titanic2.head()

   survived     sex   age  sibsp  parch     fare embarked  class
0         0    male  22.0      1      0   7.2500        S  Third
1         1  female  38.0      1      0  71.2833        C  First
2         1  female  26.0      0      0   7.9250        S  Third
3         1  female  35.0      1      0  53.1000        S  First
4         0    male  35.0      0      0   8.0500        S  Third

Encode the categorical columns.

In [77]:
dummy_df = pd.get_dummies(titanic2[['sex','embarked','class']], dummy_na=False, drop_first=[True,True,True])

In [78]:
titanic3 = pd.concat([titanic2, dummy_df], axis=1)
titanic3.head()

,survived,sex,age,sibsp,parch,fare,embarked,class,sex_male,embarked_Q,embarked_S,class_Second,class_Third
0,0,male,22.0,1,0,7.2500,S,Third,1,0,1,0,1
1,1,female,38.0,1,0,71.2833,C,First,0,0,0,0,0
2,1,female,26.0,0,0,7.9250,S,Third,0,0,1,0,1
3,1,female,35.0,1,0,53.1000,S,First,0,0,1,0,0
4,0,male,35.0,0,0,8.0500,S,Third,1,0,1,0,1

In [94]:
titanic3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   survived      891 non-null    int64
 1   sex           891 non-null    object
 2   age           714 non-null    float64
 3   sibsp         891 non-null    int64
 4   parch         891 non-null    int64
 5   fare          891 non-null    float64
 6   embarked      889 non-null    object
 7   class         891 non-null    object
 8   sex_male      891 non-null    uint8
 9   embarked_Q    891 non-null    uint8
 10  embarked_S    891 non-null    uint8
 11  class_Second  891 non-null    uint8
 12  class_Third   891 non-null    uint8
dtypes: float64(2), int64(3), object(3), uint8(5)
memory usage: 60.2+ KB

In [79]:
titanic_test=prep.prep_titanic()
titanic_test.head()

Using cached csv

,survived,age,sibsp,parch,fare,sex_male,embarked_Q,embarked_S,class_Second,class_Third
0,0,22.0,1,0,7.2500,1,0,1,0,1
1,1,38.0,1,0,71.2833,0,0,0,0,0
2,1,26.0,0,0,7.9250,0,0,1,0,1
3,1,35.0,1,0,53.1000,0,0,1,0,0
4,0,35.0,0,0,8.0500,1,0,1,0,1

## Telco

Use the function defined in acquire.py to load the Telco data.

In [4]:
telco=acq.get_telco_data()
telco.head()

Using cached csv

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

In [5]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   contract_type_id          7043 non-null   int64
 2   internet_service_type_id  7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  internet_service_type     7043 non-null   object
 22  contract_type             7043 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

Drop any unnecessary, unhelpful, or duplicated columns.

In [6]:
telco.drop_duplicates(inplace=True)

In [7]:
telco.total_charges.replace(to_replace=[' ',''],value=np.nan,inplace=True)

In [8]:
(telco==' ').sum()

payment_type_id             0
contract_type_id            0
internet_service_type_id    0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
online_security             0
online_backup               0
device_protection           0
tech_support                0
streaming_tv                0
streaming_movies            0
paperless_billing           0
monthly_charges             0
total_charges               0
churn                       0
internet_service_type       0
contract_type               0
payment_type                0
dtype: int64

In [9]:
telco['total_charges']=telco.total_charges.astype('float')

In [10]:
telco.drop(['payment_type_id','contract_type_id','internet_service_type_id'],axis=1,inplace=True)

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [11]:

dummy_list = [
	'gender',
	'partner',
	'dependents',
	'phone_service',
	'multiple_lines',
	'online_security',
	'online_backup',
	'device_protection',
	'tech_support',
	'streaming_tv',
	'streaming_movies',
	'paperless_billing',
	'churn',
	'internet_service_type',
	'contract_type',
	'payment_type'

	]

In [22]:
list_of_trues=[True for i in dummy_list if 0<1]

In [16]:
dummy_df = pd.get_dummies(telco[dummy_list], dummy_na=False, drop_first=True)

In [17]:
dummy_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender_Male                            7043 non-null   uint8
 1   partner_Yes                            7043 non-null   uint8
 2   dependents_Yes                         7043 non-null   uint8
 3   phone_service_Yes                      7043 non-null   uint8
 4   multiple_lines_No phone service        7043 non-null   uint8
 5   multiple_lines_Yes                     7043 non-null   uint8
 6   online_security_No internet service    7043 non-null   uint8
 7   online_security_Yes                    7043 non-null   uint8
 8   online_backup_No internet service      7043 non-null   uint8
 9   online_backup_Yes                      7043 non-null   uint8
 10  device_protection_No internet service  7043 non-null   uint8
 11  device_protection_Yes                  7043 non-null   uint8
 12  tech_support_No internet service       7043 non-null   uint8
 13  tech_support_Yes                       7043 non-null   uint8
 14  streaming_tv_No internet service       7043 non-null   uint8
 15  streaming_tv_Yes                       7043 non-null   uint8
 16  streaming_movies_No internet service   7043 non-null   uint8
 17  streaming_movies_Yes                   7043 non-null   uint8
 18  paperless_billing_Yes                  7043 non-null   uint8
 19  churn_Yes                              7043 non-null   uint8
 20  internet_service_type_Fiber optic      7043 non-null   uint8
 21  internet_service_type_None             7043 non-null   uint8
 22  contract_type_One year                 7043 non-null   uint8
 23  contract_type_Two year                 7043 non-null   uint8
 24  payment_type_Credit card (automatic)   7043 non-null   uint8
 25  payment_type_Electronic check          7043 non-null   uint8
 26  payment_type_Mailed check              7043 non-null   uint8
dtypes: uint8(27)
memory usage: 240.7 KB

In [18]:
dummy_df.head()

,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None,contract_type_One year,contract_type_Two year,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,1,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1
1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
2,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0
3,1,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,1,1,1,0,0,0,0,1,0
4,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1,1,0,0,0,0,0,1

In [19]:
telco=pd.concat([telco, dummy_df], axis=1)

In [20]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 48 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            7043 non-null   object
 1   gender                                 7043 non-null   object
 2   senior_citizen                         7043 non-null   int64
 3   partner                                7043 non-null   object
 4   dependents                             7043 non-null   object
 5   tenure                                 7043 non-null   int64
 6   phone_service                          7043 non-null   object
 7   multiple_lines                         7043 non-null   object
 8   online_security                        7043 non-null   object
 9   online_backup                          7043 non-null   object
 10  device_protection                      7043 non-null   object
 11  tech_support                           7043 non-null   object
 12  streaming_tv                           7043 non-null   object
 13  streaming_movies                       7043 non-null   object
 14  paperless_billing                      7043 non-null   object
 15  monthly_charges                        7043 non-null   float64
 16  total_charges                          7032 non-null   float64
 17  churn                                  7043 non-null   object
 18  internet_service_type                  7043 non-null   object
 19  contract_type                          7043 non-null   object
 20  payment_type                           7043 non-null   object
 21  gender_Male                            7043 non-null   uint8
 22  partner_Yes                            7043 non-null   uint8
 23  dependents_Yes                         7043 non-null   uint8
 24  phone_service_Yes                      7043 non-null   uint8
 25  multiple_lines_No phone service        7043 non-null   uint8
 26  multiple_lines_Yes                     7043 non-null   uint8
 27  online_security_No internet service    7043 non-null   uint8
 28  online_security_Yes                    7043 non-null   uint8
 29  online_backup_No internet service      7043 non-null   uint8
 30  online_backup_Yes                      7043 non-null   uint8
 31  device_protection_No internet service  7043 non-null   uint8
 32  device_protection_Yes                  7043 non-null   uint8
 33  tech_support_No internet service       7043 non-null   uint8
 34  tech_support_Yes                       7043 non-null   uint8
 35  streaming_tv_No internet service       7043 non-null   uint8
 36  streaming_tv_Yes                       7043 non-null   uint8
 37  streaming_movies_No internet service   7043 non-null   uint8
 38  streaming_movies_Yes                   7043 non-null   uint8
 39  paperless_billing_Yes                  7043 non-null   uint8
 40  churn_Yes                              7043 non-null   uint8
 41  internet_service_type_Fiber optic      7043 non-null   uint8
 42  internet_service_type_None             7043 non-null   uint8
 43  contract_type_One year                 7043 non-null   uint8
 44  contract_type_Two year                 7043 non-null   uint8
 45  payment_type_Credit card (automatic)   7043 non-null   uint8
 46  payment_type_Electronic check          7043 non-null   uint8
 47  payment_type_Mailed check              7043 non-null   uint8
dtypes: float64(2), int64(2), object(17), uint8(27)
memory usage: 1.4+ MB

In [21]:
telco.drop(dummy_list,axis=1)

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None,contract_type_One year,contract_type_Two year,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,0,9,65.60,593.30,0,1,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,0,1
1,0003-MKNFE,0,9,59.90,542.40,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
2,0004-TLHLJ,0,4,73.90,280.85,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,0,0,0,0,1,0
3,0011-IGKFF,1,13,98.00,1237.85,1,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,1,1,1,0,0,0,0,1,0
4,0013-EXCHZ,1,3,83.90,267.40,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,0,13,55.15,742.90,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1
7039,9992-RRAMN,0,22,85.10,1873.70,1,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,1,0
7040,9992-UJOEL,0,2,50.30,92.75,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
7041,9993-LHIEB,0,67,67.85,4627.65,1,1,1,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1
7042,9995-HOTOH,0,63,59.00,3707.60,1,1,1,0,1,0,0,1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0