# Imports

In [1]:
from imports import *
import prepare as prep

pd.set_option("display.max_columns", None)

# Confusion Matrix

In [1]:
# confusion_matrix(df.actual, df.prediction, labels = ('no coffee', 'coffee'))

In [3]:
# pd.crosstab(df.actual, df.prediction)



![confusion matrix](https://miro.medium.com/max/1400/1*fxiTNIgOyvAombPJx5KGeA.png)

# Evaluation

- accuracy doesn't tell the whole story
- baseline model predicts the most common class (not necessarily the postive class)
- \+ / - are somewhat arbitrary, but generally a postive prediction means taking action



![precision vs. recall](https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Precisionrecall.svg/660px-Precisionrecall.svg.png)

# Precision

> - percentage of positive predictions that are correct.
> - helps eliminate FN

$$\frac{\text{TP}}{\text{TP + FP}}$$

# Accuracy

> - number of times the prediction was correct divided by the total number of observations
> - helps TP and TN

$$\frac{\text{TP + TN}}{\text{TP + TN + FP + FN}}$$

# Recall

> - percentage of positive cases that we accurately predicted
> - helps eliminate FP

$$\frac{TP}{TP + FN}$$

# Exercises

## 2 - CatDog

Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

In the context of this problem, what is a false positive?
- predicting dog when the actual animal is a cat
- there are 13 false positives in this model

In the context of this problem, what is a false negative?
- predicting not dog (cat) when the actual animal is a dog
- there are 7 false negatives in this model

How would you describe this model?
- accuracy = 46+34/(46+34+13+7) = 80%
- recall = 46/(46+7) = 87%
- precision = 46/(46+13) = 78%

In [2]:
acc=(46+34)/(46+34+13+7)
rec=46/(46+7)
pre=46/(46+13)
acc, rec, pre

(0.8, 0.8679245283018868, 0.7796610169491526)

## 3 - Cody

### Defective Cody

In [3]:
cody=pd.read_csv('c3.csv')

In [4]:
cody.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [5]:
cody.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [6]:
df=cody

Which evaluation metric would be appropriate here?
- recall, eliminate a defective Cody labelled happy (FP)
---
- $TP:$ defective Cody
- $TN:$ happy Cody
- $FP:$ defective Cody labelled happy
- $FN:$ happy Cody labelled defective

In [7]:
act_def=df[df.actual=='Defect']
act_def

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [8]:
tp1 = (act_def.actual==act_def.model1).sum()
fn1 = (act_def.actual != act_def.model1).sum()
recall1=tp1/(tp1+fn1)
recall1

0.5

In [9]:
tp2 = (act_def.actual==act_def.model2).sum()
fn2 = (act_def.actual != act_def.model2).sum()
recall2=tp2/(tp2+fn2)
recall2

0.5625

In [10]:
tp3 = (act_def.actual==act_def.model3).sum()
fn3 = (act_def.actual != act_def.model3).sum()
recall3=tp3/(tp3+fn3)
recall3

0.8125

Which model would be the best fit for this use case?
- model 3

### Bad News Cody

Which evaluation metric would be appropriate here?
- precision, eliminate a happy Cody going to HI (FN)
---
- $TP:$ defective Cody goes to HI
- $TN:$ happy Cody stay's home
- $FP:$ defective Cody stay's home
- $FN:$ happy Cody goes to HI

In [11]:
act_not=df[df.actual=='No Defect']
act_not.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  184 non-null    object
 1   model1  184 non-null    object
 2   model2  184 non-null    object
 3   model3  184 non-null    object
dtypes: object(4)
memory usage: 7.2+ KB

In [12]:
tp1 = (act_def.actual==act_def.model1).sum()
fp1 = (act_not.actual != act_not.model1).sum()
precision1=tp1/(tp1+fp1)
precision1

0.8

In [13]:
tp2 = (act_def.actual==act_def.model2).sum()
fp2 = (act_not.actual != act_not.model2).sum()
precision2=tp2/(tp2+fp2)
precision2

0.1

In [14]:
tp3 = (act_def.actual==act_def.model3).sum()
fp3 = (act_not.actual != act_not.model3).sum()
precision3=tp3/(tp3+fp3)
precision3

0.13131313131313133

Which model would be the best fit for this use case?
- Model 1

## 4 - Gives You Paws

In [15]:
gyp=pd.read_csv('gives_you_paws.csv')

In [16]:
gyp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  5000 non-null   object
 1   model1  5000 non-null   object
 2   model2  5000 non-null   object
 3   model3  5000 non-null   object
 4   model4  5000 non-null   object
dtypes: object(5)
memory usage: 195.4+ KB

In [17]:
gyp.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [19]:
gyp['baseline']='dog'
gyp.head(6)

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog
5    dog    dog    dog    dog    dog      dog

In [22]:
df=gyp
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

### a

In terms of accuracy, how do the various models compare to the baseline model?

In [23]:
(df.baseline == df.actual).mean()

0.6508

In [24]:
(df.model1 == df.actual).mean()

0.8074

In [25]:
(df.model2 == df.actual).mean()

0.6304

In [26]:
(df.model3 == df.actual).mean()

0.5096

In [27]:
(df.model4 == df.actual).mean()

0.7426

Are any of the models better than the baseline?
- models 1 & 4

### b

#### Team Dog:

- $TP:$ dog picture
- $TN:$ cat picture
- $FP:$ cat pic in the dog house
- $FN:$ dog pic in the litter box
---
- recall, eliminate FP

In [28]:
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [36]:
dog=df[df.actual=='dog']
dog.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
8    dog    dog    cat    dog    dog      dog

In [ ]:
tp1=(dog.actual==dog.model1).mean()
fn1=(dog.actual!=dog.model1).mean()
recall1=tp1/(tp1+fn1)
recall1

0.803318992009834

In [46]:
tp2=(dog.actual==dog.model2).mean()
fn2=(dog.actual!=dog.model2).mean()
recall2=tp2/(tp2+fn2)
recall2

0.49078057775046097

In [49]:
tp3=(dog.actual==dog.model3).mean()
fn3=(dog.actual!=dog.model3).mean()
recall3=tp3/(tp3+fn3)
recall3

0.5086047940995697

In [50]:
tp4=(dog.actual==dog.model4).mean()
fn4=(dog.actual!=dog.model4).mean()
recall4=tp4/(tp4+fn4)
recall4

0.9557467732022127

Which of these models would you recomend for Phase I?
- model 4